<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"> 
<title>Pengelolaan Website</title>
<link href="$favicon" rel="SHORTCUT ICON" />
<link href="login.css" rel="stylesheet" type="text/css">
</head>
<body id="loginbody" onLoad="document.login.username.focus()">
	<div id="container">
	<div id="membertitle">$membertitle</div>
	<div id="membercontent">$membercontent</div>
	</div>
</body>
</html>